<mat-toolbar>Pacientes</mat-toolbar>

<div class="ejemplo-container mat-elevation-z8">
  <router-outlet></router-outlet>
  <div class="ejemplo-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)"  type="text" placeholder="Buscar Paciente">
    </mat-form-field>
  </div>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="idPaciente">
      <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.idPaciente}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="nombres">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombres</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nombres}}</mat-cell>
  </ng-container>
    <ng-container matColumnDef="apellidos">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.apellidos}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="dni">
         <mat-header-cell *matHeaderCellDef mat-sort-header>DNI</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.dni}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="direccion">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Direccion</mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.direccion}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="telefono">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.telefono}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="acciones">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</mat-header-cell>
          <mat-cell *matCellDef="let row">
            <button mat-button color="primary" [routerLink]="['edicion', row.idPaciente]">Actualizar</button>
            <button mat-button color="accent" (click)="eliminar(row.idPaciente)">Eliminar</button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>

  </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,15,100]"></mat-paginator>

</div>
<button mat-fab color="accent" style="float:right" routerLink='/paciente/nuevo'>
  <mat-icon>create</mat-icon>
</button>