<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Nombres" [(ngModel)]="medico.nombres">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Apellidos" [(ngModel)]="medico.apellidos">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="CMP" [(ngModel)]="medico.cmp">
  </mat-form-field>
</div>

<button style="float:left" mat-raised-button color="accent" (click)="cancelar()">Cancelar</button>
<button style="float:right" mat-raised-button color="primary" (click)="operar()">Aceptar</button>