.medico-contenedor{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.medico-sidenav-contenedor{
    flex: 1;
}

.medico-spacer{
    flex: 1 1 auto;
}