<div class="medico-contenedor">
    <mat-toolbar color="primary" class="medico-toolbar">
        <button mat-icon-button (click)= "sidenav.toggle()">
            <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
            <mat-icon *ngIf="sidenav.opened">close</mat-icon>
        </button>

        <h1 class="medico-app-nombre">App Mdico</h1>
        <span class="medico-spacer"></span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/perfil">
                <mat-icon>Account_box</mat-icon>
                <span>Mi perfil</span>
            </button>
            <button mat-menu-item routerLink="/login">
                <mat-icon>exit_to_app</mat-icon>
                <span>Cerrar Sesón</span>
            </button>
            
        </mat-menu>


    </mat-toolbar>
    <mat-sidenav-container class="medico-sidenav-contenedor">
        <mat-sidenav #sidenav mode="side" [(opened)]="opened" style="width:200px">
           
            
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/buscar" style="cursor:pointer ">
                <mat-icon>search</mat-icon>
                <span>Buscar</span>
            </button>

            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/registro" style="cursor:pointer">
                <mat-icon>insert_drive_file</mat-icon>
                <span>Registrar</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/paciente" style="cursor:pointer">
                <mat-icon>perm_contact_calendar</mat-icon>
                <span>Paciente</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/medico" style="cursor:pointer">
                <mat-icon>how_to_reg</mat-icon>
                <span>Medico</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/examen" style="cursor:pointer">
                <mat-icon>assignment</mat-icon>
                <span>Examen</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item (click)="sidenav.toggle()" routerLink="/especialidad" style="cursor:pointer">
                <mat-icon>healing</mat-icon>
                <span>Especialidad</span>
            </button>
            <mat-divider></mat-divider>
            

            <mat-divider></mat-divider>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>

    </mat-sidenav-container>

</div>